div{
    width: 730px;
    height: 133px;
    line-height: 0px;/*Alignement dans la hauteur (du texte)*/
    color: transparent; /*couleur transparente*/
    font-size: 50px;  /*taille du texte*/
    text-transform: uppercase; /*transforme le texte en masjuscule*/
    transition: 0.5s;  /*durée de la transition*/
}

div:hover{
    line-height: 210px;  /*alignement dans la hauteur*/
    color: grey;
}

div img{
    float: left;  /*effet flottant (côte à côte)*/
    margin: 0 15px;
}
