div{
    width: 800px; /*largeur*/
    margin: 0 auto; /**marges**/
}

div img{
    margin: 20px; /*marges*/
    border: 5px solid grey; /*bordure*/
    box-shadow:-12px -9px 12px #450A06;
    transition: 0.5s;
}
div img:hover{
    transform: rotate(-7deg); /*rotation de 7 dégrés*/
}

div img.rotation360:hover{
    transform: rotate(-720deg);
}
