p{
    color: red;
}
p:first-child{
    color: green;
}
p:last-of-type{
    color: green;
}

p:nth-child(even){
    color: blue;
}

p:nth-child(odd){
    color: brown;
}

p:nth-child(5), p:nth-child(6){
    color: orange;
}

.zoneA{
    color: green;
}

.zoneB{
    color: yellow;
}

#zoneC{
    color: red;
}

.couleurBleu{
    color: pink;
}

#zoneC:after{
    content:" xXx";
}

#zoneD span{
    color: violet;
}

/*
Différences entre classes & id:
Une classe est appelé par un point '.'
Un id est appelé par le signe #

règle d'écriture:
div.zone{} veut dire "va me chercher la div qui possède la classe 'zone'"
div .zone{} veut dire " va me chercher la classe 'zone' qui se trouve à l'interieur de la div"
.maclass, .maclass2{} on applique le style sur plusieurs éléments
*/
