*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    font-family: 'Overlock', cursive;
}


header, footer{

    height: 110px;
    background: #A2B5BF;

}
header{
    border-bottom: 2px solid;
}

footer{
    border-top: 2px solid;
}

#conteneur{
    width: 1000px;
    height: 100px;
    background: ;
    margin: 0 auto;

}

#conteneur2{
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

#conteneur3{
    width: 1000px;
    height: 100px;
    background: ;
    margin: 0 auto;

}

.gauche{
    height: 850px;
    width: 350px;
    background: green ;
    float: left;
    margin: 0 auto;
    margin-left: 100px;

}
.droite{
    height: 850px;
    width: 450px;
    float: left;
    margin: 0 auto;
    background: red;
}

.titre{
    width: 450px;
    height: 75px;
    background: ;
    float: left;
    background: violet;



}

.telecharger{
    width: 350px;
    height: 75px;
    background: blue;
    float: left;
    margin-left: 100px;
}

.tc{
    text-align: right;
    float: right;;
}

.chere{
    border: 2px solid;
    border-radius: 5px;
    width: 440px;
    height: 50px;
    background: black;
    margin: 0 auto;
    margin-top: 50px;
}

nav{
    width: 500px;
    height: 25px;
    margin: 0 auto;
    background: orange ;

}

h2{
    color: #5F8CA3;
}
.co{
    text-align: center;
    color: white;
    margin-top: 15px;
}

.actu1{
margin-left: 50px;
}
