#conteneur{
    width: 100%;
    margin: 0 auto;
    font-size: 1.5vw;
    max-width: 1200px;
}

.d1, .d2, .d3, .d4, .d5, .d6, .d7, .d8, .d9, .d10{
    float: left;
    width: 13%;
    height: 19vh;
    text-align: center;
    border: 5px solid red;
    margin: 0.5%;
    border-radius: 50%;
    background-image:linear-gradient(white, grey, black);

}

.clear{
    clear:both;
}


@media screen and (max-width: 768px) {
    .d1, .d2, .d3, .d4, .d5, .d6, .d7, .d8, .d9, .d10{
        width: 150px;
    }
}

@media screen and (max-width: 992px) {
    .d1, .d2, .d3, .d4, .d5, .d6, .d7, .d8, .d9, .d10{
        width: 150px;
    }
}

@media screen and (max-width: 1200px) {
    .zone-adaptative{
        width: 150px;
    }
}
